// Place all the styles related to the public/CartItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cart_item_text {
  margin-top: 30px;
}

.cart_item_button1 {
  text-align: right;
  margin-bottom: 15px;
}

.cart_item_button2 {
  text-align: center;
}