// Place all the styles related to the public/Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.produts-title {
  width: 100px;
  margin-top: 30px;
  margin-left: 60px;
  font-size: 50px;
  border-bottom: solid;
  border-color: black;
  border-width: 8px;
}

.image_container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  margin-top: 80px;
  margin-bottom: 100px;
}

.item_name {
  margin-top: 20px;
  font-size: 25px;
}

.item_price {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 25px;
}

.item_container {
  margin-top: 130px;
  margin-left: 60px;
}

.text_container {
  margin-top: 115px;
  margin-right: 60px;
}

.item_detail_name {
  font-size: 60px;
}

.item_introduction {
  margin-top: 50px;
  font-size: 20px;
}

.item_favorites {
  font-size: 30px;
}

.item_detail_price {
  margin-top: 60px;
  font-size: 45px;
}