// Place all the styles related to the Public/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.confirm_container {
  margin-top: 50px;
}

.text-confirm {
  margin-left: 160px;
  margin-top: 30px;
  // color: black;
  // border-bottom: solid;
  // border-color: brown;
  // border-width: 3px;/*3ピクセルの太さにする*/
}

.complete-text {
  margin-top: 60px;
  font-size: 60px;
  text-align: center;
}

.button-position {
  text-align: center;
  margin-top: 60px;
}

.b-text {
  display: inline-block;
}

.sellers {
  margin-top: 80px;
  margin-bottom: 70px;
}

.best-sellers {
  font-size: 60px;
  color: green;
  text-align: center;
}

.sellers-text {
  font-size: 30px;
  text-align: center;
}

.products-image {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.first-prize {
  width: 60px;
  height: 42px;
  background-image: image-url('first_winner.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 30px;
  top: -50px;
}

.second-prize {
  width: 60px;
  height: 42px;
  background-image: image-url('second_winner.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 410px;
  top: -50px;
}

.third-prize {
  width: 60px;
  height: 42px;
  background-image: image-url('third_winner.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 790px;
  top: -50px;
}

.produts-link {
  margin-top: 30px;
  margin-bottom: 50px;
  color: brown;
  font-size: 40px;
}

.link {
  color: brown;
  border-bottom: solid;
  border-color: brown;
  border-width: 3px;/*3ピクセルの太さにする*/
}

.orders_new_text {
  margin-top: 30px;
}

.text-contents {
  margin: 30px 0;
}

.order-history {
  margin-top: 30px;
}

.order-confirm {
  margin-top: 30px;
}

.order-detail {
  margin-top: 30px;
  margin-bottom: 30px;
}

.money-info {
  margin-top: 100px;
}

.order-contents {
  margin-top: 30px;
}