<%= stylesheet_link_tag 'public/homes' %>
<div class="about_contents1">
    <div class="about_text">
        <p class="about_title">ABOUT</p>
        <p class="about_shop">Pâtisserie Moriguchiについて</p>
    </div>
    <div class="about_image"></div>
</div>
<div class="about_contents2">
    <div class="about_concept">
        <p class="concept_title">CONCEPT</p>
        <p class="concept_message">
            誰もが愛する<br>
            街のケーキ屋さん
        </p>
    </div>
    <div class="about_message">
        <p>Pâtisserie Moriguchiは全国発送可能なケーキ屋です。<br></p>
        <p>お子様からお年寄りの方までお召し上がりいただけるよう、<br></p>
        <p>様々なバリエーションをご用意しています。</p>
        <p>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br></p>
        <p>ぜひご注文ください。</p>
    </div>
</div>