// Place all the styles related to the admin/Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item-group {
  display: flex;
  flex-direction: column;
}

.form-group-submit {
  text-align: center;
}