    <%= stylesheet_link_tag 'public/accesses' %>
    <p class="guide_title">Guide</p>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="guide_container">
                    <div class="guide_image"></div>
                </div>
            </div>
            <div class="col-md-6">
                <p class="shop_name">Pâtisserie Moriguchi</p>
                <div class="text_container">
                    <div class="guide_text">
                        <p>大阪市のベッドタウンとして位置づけられている守口市にたたずむケーキ屋さん</p>
                        <p>定番のショートケーキやチョコケーキをはじめ地元の方から高い評価を受けています。</p>
                        <p>アクセスも地下鉄谷町線守口駅からすぐの好立地！！</p>
                        <p>是非お立ち寄りください！！</p>
                    </div>
                    <div class="shop_access">
                        <p class="border_line"></p>
                        <p class="shop_info">SHOP INFO</p>
                        <p class="access_detail">住所 　　 ー　大阪府守口市京阪本通<br>
                        　　　　　　２丁目１ー１</p>
                        <p class="access_detail">Tel　　　ー　06-0000-1111</p>
                        <p class="access_detail">営業時間　ー　11:00〜18:00</p>
                        <p class="access_detail">　　　　　　　定休日：毎週月曜日</p>
                        <div id='map'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
    var map;
    var marker;
    var infoWindow;
    var center = {
      lat: 34.7385278, // 緯度
      lng: 135.5640271 // 経度
    };
    function initMap() {
       map = new google.maps.Map(document.getElementById('map'), { // #mapに地図を埋め込む
           center: center, // 地図の中心を指定
           zoom: 18 // 地図のズームを指定
         });
       
       marker = new google.maps.Marker({ // マーカーの追加
          position: center, // マーカーを立てる位置を指定
          map: map // マーカーを立てる地図を指定
       });
      
       infoWindow = new google.maps.InfoWindow({ // 吹き出しの追加
          content: '<div class="map"><strong>Pâtisserie Moriguchi<br>日本<br>大阪府守口市京阪本通２丁目１ー１</strong></div>' // 吹き出しに表示する内容
       });
       marker.addListener('click', function() { // マーカーをクリックしたとき
          infoWindow.open(map, marker); // 吹き出しの表示
       });
     }
    
    </script>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['SECRET_KEY'] %>&callback=initMap" async defer></script>