// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.events-title {
  width: 100px;
  margin-top: 30px;
  margin-left: 60px;
  font-size: 50px;
  border-bottom: solid;
  border-color: black;
  border-width: 8px;
}

#calendar {
    margin: 30px;
}